



header.header{
  display:flex;
  flex-flow:row nowrap;
  padding:10px 0px;
  height:65px;
  width:100%;
  box-sizing:border-box;

  // test Border
  border:1px solid black;
  .header__logo{
      display:flex;
      flex-flow:row nowrap;
      justify-content: left;
      align-items:center;
      margin-right:auto;
      
      height:100%;
      width:9.5rem;

      .logo{
        height:32px;
        width:32px;
        background-color:blue;
      }
      .logoString{
        color:#FFFFFF;
        font-weight:600;
      }
  }
  .header__rightarea{
    display:flex;
    align-items: center;
    justify-content:center;

    width:auto;


  }
}