@import '../common/util.scss';


header{
  display:flex;
  flex-flow:row nowrap;
  padding:10px 0px;
  height:65px;
  width:100%;
  box-sizing:border-box;
 
  @include gdlBox-shadow;
  
  
  background-color:orange;

  
  .header__logo{
      display:flex;
      flex-flow:row nowrap;
      justify-content: left;
      align-items:center;
      margin-right:auto;
      
      height:100%;
      width:9.5rem;

      cursor:default;

      .logo{
        height:32px;
        width:32px;
        background-color:blue;
        cursor:pointer;
      }
      .logoString{
        color:#FFFFFF;
        font-weight:600;
      }
  }
  .header__buttons{
    display:flex;
    align-items: center;
    justify-content:center;

    width:auto;

  }
}